<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.api.winddevice.window.newversion.mapper.WindowRunDataMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruoyi.project.api.winddevice.window.newversion.domain.WindowRunDataEntity" id="windowRunDataMap">
        <result property="ip" column="ip"/>
        <result property="addrNum" column="addr_num"/>
        <result property="workModelA" column="work_model_a"/>
        <result property="controlTypeA" column="control_type_a"/>
        <result property="controlSensorA" column="control_sensor_a"/>
        <result property="speedA" column="speed_a"/>
        <result property="volumeA" column="volume_a"/>
        <result property="pressureA" column="pressure_a"/>
        <result property="absolutePressureA" column="absolute_pressure_a"/>
        <result property="temperatureA" column="temperature_a"/>
        <result property="humidityA" column="humidity_a"/>
        <result property="openDegreeA" column="open_degree_a"/>
        <result property="workModelB" column="work_model_b"/>
        <result property="controlTypeB" column="control_type_b"/>
        <result property="controlSensorB" column="control_sensor_b"/>
        <result property="speedB" column="speed_b"/>
        <result property="volumeB" column="volume_b"/>
        <result property="pressureB" column="pressure_b"/>
        <result property="absolutePressureB" column="absolute_pressure_b"/>
        <result property="temperatureB" column="temperature_b"/>
        <result property="humidityB" column="humidity_b"/>
        <result property="openDegreeB" column="open_degree_b"/>
        <result property="ajustingA" column="ajusting_a"/>
        <result property="ajustingB" column="ajusting_b"/>
        <result property="outTimeA" column="out_time_a"/>
        <result property="outTimeB" column="out_time_b"/>
        <result property="encoderErrorA" column="encoder_error_a"/>
        <result property="encoderErrorB" column="encoder_error_b"/>
        <result property="airError" column="air_error"/>
        <result property="ocCheckWarn" column="oc_check_warn"/>

        <result property="ocCheckWarnNum" column="oc_check_warn_num"/>
        <result property="ai1ValueHave" column="ai1_value_have"/>
        <result property="ai1Value" column="ai1_value"/>
        <result property="ai2ValueHave" column="ai2_value_have"/>
        <result property="ai2Value" column="ai2_value"/>
        <result property="ai1Warn" column="ai1_warn"/>
        <result property="ai2Warn" column="ai2_warn"/>
        <result property="remoteWarn" column="remote_warn"/>

        <result property="createTime" column="create_time"/>
        <result property="timeMs" column="time_ms"/>

    </resultMap>




</mapper>
