<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.api.winddevice.window.newversion.mapper.WindowVentrMapper">
    
    <resultMap type="WindowVentr" id="WindowVentrResult">
        <result property="id"    column="id"    />
        <result property="devId"    column="dev_id"    />
        <result property="kaidu"    column="kaidu"    />
        <result property="mianji"    column="mianji"    />
        <result property="fengzu"    column="fengzu"    />
        <result property="var1"    column="var1"    />
        <result property="var2"    column="var2"    />
        <result property="remark"    column="remark"    />
    </resultMap>


</mapper>