<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.api.winddevice.window.newversion.mapper.WindowLoginMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ruoyi.project.api.winddevice.window.newversion.domain.WindowLoginEntity" id="windowWarnMap">
        <result property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="port" column="port"/>
        <result property="addrNum" column="addr_num"/>
        <result property="loginTag" column="login_tag"/>
        <result property="createTime" column="create_time"/>
        <result property="timeMs" column="time_ms"/>

    </resultMap>



</mapper>
