<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.api.anemometry.mapper.WindFullMapper">
    
    <resultMap type="WindFull" id="WindFullResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="mainType"    column="main_type"    />
        <result property="devType"    column="dev_type"    />
        <result property="location"    column="location"    />
        <result property="windArea"    column="wind_area"    />
        <result property="windSpeed"    column="wind_speed"    />
        <result property="surface"    column="surface"    />
        <result property="airVolume"    column="air_volume"    />
        <result property="connectStatus"    column="connect_status"    />
        <result property="warnStatus"    column="warn_status"    />
        <result property="warnTime"    column="warn_time"    />
        <result property="measureTime"    column="measure_time"    />
        <result property="mode"    column="mode"    />
        <result property="ipAddr"    column="ip_addr"    />
        <result property="port"    column="port"    />
        <result property="temperature"    column="temperature"    />
        <result property="length1"    column="length1"    />
        <result property="length2"    column="length2"    />
        <result property="length3"    column="length3"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="autoCollectFlag"    column="auto_collect_flag"    />
        <result property="collectPeriod"    column="collect_period"    />
        <result property="collectUnit"    column="collect_unit"    />
        <result property="collectMillisecond"    column="collect_millisecond"    />
        <result property="collectTime"    column="collect_time"    />
        <result property="collectCron"    column="collect_cron"    />
        <result property="cronJobId"    column="cron_job_id"    />
        <result property="sensorId"    column="sensor_id"    />
        <result property="pressure"    column="pressure"    />
        <result property="absolutePressure"    column="absolute_pressure"    />
        <result property="locationPressure"    column="location_pressure"    />
        <result property="dynamicPressure"    column="dynamic_pressure"    />
        <result property="pressureTemperature"    column="pressure_temperature"    />
        <result property="airHumidity"    column="air_humidity"    />
        <result property="xAxis"    column="x_axis"    />
        <result property="yAxis"    column="y_axis"    />
        <result property="speedDatas"    column="speed_datas"    />
        <result property="airDensity"    column="air_density"    />
        <result property="maxSpeed"    column="max_speed"    />
        <result property="minSpeed"    column="min_speed"    />
        <result property="originSpeed"    column="origin_speed"    />
        <result property="duizhenga"    column="duizhenga"    />
        <result property="duizhengb"    column="duizhengb"    />
        <result property="setTimea"    column="set_timea"    />
        <result property="setTimeb"    column="set_timeb"    />
        <result property="mapBind"    column="map_bind"    />
        <result property="mapModelCode"    column="map_model_code"    />
        <result property="pointX"    column="point_x"    />
        <result property="pointY"    column="point_y"    />
        <result property="pointZ"    column="point_z"    />
        <result property="positionX"    column="position_x"    />
        <result property="positionY"    column="position_y"    />
        <result property="positionZ"    column="position_z"    />
        <result property="lookAtX"    column="look_at_x"    />
        <result property="lookAtY"    column="look_at_y"    />
        <result property="lookAtZ"    column="look_at_z"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>


</mapper>