<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.api.winddevice.window.oldversion.mapper.TagMapper">
    
    <resultMap type="Tag" id="TagResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="value"    column="value"    />
        <result property="sjlx"    column="sjlx"    />
        <result property="czlx"    column="czlx"    />
        <result property="czmc"    column="czmc"    />
        <result property="ywlx"    column="ywlx"    />
        <result property="sblx"    column="sblx"    />
        <result property="relateCode"    column="relate_code"    />
        <result property="remark"    column="remark"    />
        <result property="warnIcon"    column="warn_icon"    />
        <result property="operIcon"    column="oper_icon"    />
        <result property="visible"    column="visible"    />
        <result property="addrType"    column="addr_type"    />
        <result property="analyzeType"    column="analyze_type"    />
        <result property="vark"    column="vark"    />
        <result property="varb"    column="varb"    />
        <result property="addr"    column="addr"    />
    </resultMap>


</mapper>